:root{
    --standart-color: #946FD3;
    --white-color: white;
}


.line-bottom {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 1rem;
}

.filters{
    width: 1rem;
    border: 3px solid #EEE8F8;
    box-sizing: border-box;
    display: block;
    padding: 0%;
    
}

.products{

    

}

.conteiner{
    
}

ul{
list-style-type:none;
}

.filters__minus{
    position: absolute;
    top: 0;
    right: 0px;
 }

 .filters__titlesm{
     font-weight: bold;
 }

 .products__card{
position: absolute;
padding: 0;
width: 18rem;
    
 }

 .products__text{
     text-align: center;
     font-size: 1rem;
     font-family: Raleway, Arial, Helvetica, sans-serif;
     font-weight: bold;
 }


 .products__subtext{
    text-align: center;
    font-size: 1rem;
    font-family: Raleway, Arial, Helvetica, sans-serif;
 
}
