.header {
    color:#16a085;
    font-size: 18pt;
    text-align: left;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    line-height: 3rem;
}

ul.list li{
    display: inline;
    padding: 3rem;
    text-align: left;
}


a:link, a:visited, a:hover, a:active {
    color: #16a085;
    text-decoration: none;
}


.photo  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h {
    text-transform: uppercase;
    color:black;
    font-size: 22px;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
    text-align: center;
    margin-top: 2em;
  
    font-weight: bold;
}

.photos{
    position: relative;
    text-align: center;
    height: 790px;
    width: 1280px;
    margin: auto;
}

.photos__photo {
    left: 0px;
    top: 0px;
    position: absolute;
 
}

.photos__gray{
    left: 0px;
    top: 0pxx;
    position: absolute;
    opacity: 0.5;}



.text{
    text-align: center;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    font-size: 16px;
    color: #373737;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;  
    margin-top: 2em; 
    width: 1059px;

    
  }
.back{
    background-image:url(./light_gray.png);
    width: 1280px;
    height: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

 
}
